extends layout

block content
	#external
		#mainContent
			header
				h1 BitPoints
			block mainContent
		#supplementalContent
			block supplementalContent
		footer
			| Proudly made in DC&nbsp;
			a(href="http://proudlymadeindc.com/", target="_blank").dcBadge
			|  by&nbsp;
			a(href="https://github.com/twisterghost", target="_blank") Michael
			| ,&nbsp;
			a(href="https://github.com/jackwanders", target="_blank") Jack</a>
			| , &amp;&nbsp;
			a(href="http://nickswider.com/", target="_blank") Nick</a>
	script(src='/javascripts/home.js')
