extends layout

block content
	#room
		ul#settings
			li
				i.setting.fa.fa-cog.fa-2x
				.drop
					.dropItem
						span.title Deck Type:
						.control
							.option
								label(for="standard")
									input(type="radio", value="standard", name="deckType", id="standard", checked="checked")
									span Standard
							.option
								label(for="fibonacci")
									input(type="radio", value="fibonacci", name="deckType", id="fibonacci")
									span Fibonacci
							.option
								label(for="letters")
									input(type="radio", value="letters", name="deckType", id="letters")
									span Letters
							.option
								label(for="tshirt")
									input(type="radio", value="tshirt", name="deckType", id="tshirt")
									span T-Shirt Sizes
					.dropItem
						span.title Round To Card:
						.control
							.option
								label(for="roundNearest")
									input(type="checkbox", name="roundNearest" id="roundNearest")

		button#toggleRound Begin Estimating

		#average The average estimate is&nbsp;
			span.val
		#nearestCard The nearest card is&nbsp;
			span.val
		#largeSpread Looks like there's some uncertainty about this estimate...

		#ticket

		ul#users

	#roomId
		p.text room code
		p.id #{room.roomId}
	script.
		BP.room = !{JSON.stringify(room)};
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/host.js")
