extends external

block mainContent
	#error
		p Hmm, looks like <strong>#{url}</strong> isn't available.
		.errorCard.visible.showValue
			.cardInner
				.cardValue #{status}
				.cornerValue.topleft 
					.fa.fa-exclamation-triangle
				.cornerValue.bottomright 
					.fa.fa-exclamation-triangle
		p Head back to <a href="/">bitpoints.digital.vistaprint.io</a>
