extends layout

block content
	#error
		.errorCard.visible.showValue
			.cardInner
				.cardValue #{status}
				.cornerValue.topleft #{status}
				.cornerValue.bottomright #{status}
		p Is this your card?
