doctype html
html
  head
    title BitPoints
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  body
    block content
