extends layout

block content
	h1 Welcome to #{title} (#{roomId})

	ul#users

	script.
		var bp = {
			roomId: #{roomId}
		}
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/client.js")
