extends layout

block content
	h1 Welcome to #{title} (#{roomId})

	button#toggleRound Begin Estimating

	#average The average estimate is 
		span.val

	ul#users

	script.
		var bp = {
			roomId: #{roomId}
		}
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/client.js")
