/*
 * @title: BitPoints Base Styles
 * @authors : Nick Swider, Jack Anderson
 */

@import "lib";
@import "variables";
@import "reset";
@import "mixins";
@import "external";
@import "kicked";
@import "modal";
@import "voterRoom";
@import "hostRoom";
@import "error";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400);

/**
 * Base document styles
 */
html {
	padding-bottom: 40px;
	background: @primaryColor;
	transition: background-color 1.2s ease;
	&.voting {
		background-color: @accentColor;
	}

	body {
		font: 400 16px/1.8em @sans;
		color: @text;

		a {
			color: @link;
			font-family: @title;
			font-style: italic;
			text-decoration: none;
			&:hover, &:focus, &:active {
				color: @hover;
			}
		}

		.fa {
			.iconLight();
		}

		::selection { background: @selection; }
		::-moz-selection { background: @selection; }
	}
}

/**
 * Media Queries
 */
@media(max-width:1100px) {
	#external {
		margin: 50px 50px 0;
	}
}

@media(max-width:960px) {
	#external {
		#supplementalContent {
			margin-left: 450px;

			ul {
				font-size: 80%;
			}
		}
	}
}


@media(max-width: 800px) {
	#external {
		margin: 0px;
		#mainContent {
			position: static;
			width: 100%;
			margin-bottom: 40px;

			header {
				position: fixed;
				height: 60px;
				width: 100%;
				z-index: 100;
				background-color: desaturate(darken(@primaryColor,10%),10%);
				.box-shadow(0 3px 3px rgba(0,0,0,0.4));
				h1 {
					height: 40px;
					margin: 10px 0;
					background-position: center center;
				}
			}

			#actions {
				margin: 0 10px;
				padding-top: 80px;
				.join, .create {
					width: 100%;
					margin-top: 20px;
				}
				.create input.halfwidth {
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
				.create .halfwidth + .halfwidth {
					margin-left: 0 !important;
				}
			}
		}

		#supplementalContent {
			margin-left: 0;
			padding: 10px;

			ul {
				display: none;
			}
		}
	}

	#error {
		padding-top: 80px;
	}

	table#estimateOptions {
		td {
			font-size: 2em;
			line-height: 1.5em;
		}
	}

	body.one-column {
		#external {
			#mainContent {
				width: 100%;
			}
		}
	}
}
